.testQuery{
	margin-bottom:30px;
}
.condt {
	margin-top: 10px;
	margin-bottom: 10px;

	width:1100px;
}

.condt1 {
	width: 200px;
	float: left;
	margin-top:3px;
	margin-bottom:3px;
}
.condt2 {
	width: 80px;
	float: left;
	margin-top:3px;
	margin-bottom:3px;
}
.condadd {
	margin-top: 10px;
	margin-bottom: 10px;
	width:1100px;
	float:left;
}
.content{
	width:1100px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
}
.content1{
	
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
}
.list_div { /*border:1px solid #DDD;*/
	float: left;
	width: 900px;
	margin-left: 40px;
}

.list_title {
	float: left;
	
	/*border: 1px solid #DDD;*/
	background-color:#c3e5e7; 
	color:#006e6b;
	
	font-weight: bold;
	margin-bottom: 2px;
}

.item_div {
	float: left;
	
	border-bottom:#c3e5e7 thin dashed;
	margin-bottom: 2px;
	
}

.list_content {
	float: left;
	width: 900px;
}

.list_title div,.item_div div {
	float: left;
	text-align: center;
}
.ne {
	width: 300px;
	border-left: 2px solid #fff;
}

.od {
	width: 30px;
	
}

.od img {
	margin-top: 2px;
}

.dt {
	width: 92px;
	border-left: 2px solid #fff;
}

.dtcur {
	cursor: pointer;
}

.list_ul {
	margin: 0px;
	padding: 0px;
}

.item {
	list-style: none;
}
.pageDiv {
	float: right;
	width: 450px;
	margin-top:10px;
}

.page_ul {
	list-style: none outside none;
	margin: 0px;
}

.page_ul .page {
	float: left;
	border: 1px solid #DDD;
	background: repeat scroll 0 0 #DDD;
	margin: 5px;
	width: 27px;
	height: 27px;
	text-align: center;
}

.page_ul .total {
	float: left;
	border: 1px solid #DDD;
	background: repeat scroll 0 0 #DDD;
	margin: 5px;
	width: 37px;
	height: 27px;
	text-align: center;
}
.panel_sub_main {
	margin: 10px;
	/*width: 1000px;*/
	height: auto;
	border: solid;
	border-width: thin;
	border-color: #e0e0d8;
}
.title_sub_main {
	color: #000;
	font-weight:bold;
	background-color: #e0e0d8;
	background-image: url(../../image/learning/title_main_bg.png);
	background-repeat: no-repeat;
}
.panel_sub {
	margin: 20px;
	/*width: 1000px;*/
	border: solid;
	border-width: thin;
	border-color: #c3e5e7;
	background-image: url(../../image/learning/transparent.png);
}
.title_sub {
	color: #006e6b;
	font-weight:bold;
	background-color: #c3e5e7;
	background-image: url(../../image/learning/title_sub_bg.png);
	background-repeat: no-repeat;
}
.graph {
	display: inline-table;
	float: left;
	width: 320px;
}
.graph2 {
	display: inline-table;
	float: left;
	width: 520px;
	height:200px;
}
.content_margin{
	height:150px;
}