@charset "utf-8";
/* CSS Document */

#tab2,#tab3,#tab4,#tab5,#tab6,#tabB2,#tabB3,#tabD1,#tabD2,#tabD3{
	display:none;
}
div.tabD1 div.tabC1 div.tabB1{display:block;}
div.tabD2 div.tabC2 div.tabB2{display:block;}
div.tabD3 div.tabC3 div.tabB3{display:block;}


#studyRecByDay, #studyRecByWeek, studyRecByMonth{
	display: inline-table;
	float: left;
	width: 350px;
}
#studyTimeSumAvg {
	display: inline-table;
	float: left;
	width: 600px;
}
#studyEstimation {
	display: inline-table;
	float: left;
	width: 400px;
}

#testAccuracy, #testFrequency, #testAccuracyChart, #testFrequencyChart {
	display: inline-table;
	float: left;
	width: 500px;
}

#personInfo, #testAccuracyChart {
	display: inline-table;
	float: left;
	width: 300px;
}

#examEstimation {
	display: inline-table;
	float: left;
	width: 700px;
}

/*分页*/
.pageDiv {
	float: none;
	width: 350px;
}

.page_ul {
	list-style: none outside none;
	margin: 0px;
}

.page_ul li {
	float: left;
	border: 1px solid #DDD;
	margin: 5px;
	width: 27px;
	height: 27px;
	text-align: center;
}

.page_ul li a{
	border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
}

.pagination ul > li:first-child > a{
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.pagination ul .disabled a, .pagination ul .disabled a:hover, .pagination ul .disabled a:focus {
    background-color: transparent;
    color: #999999;
    cursor: default;
}

.pagination ul > li > a {
    background-color: #ffffff;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}

.page_ul .total {
	float: left;
	width: 70px;
	height: 27px;
	text-align: center;
}
/*分页*/