<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置bean的自动扫描与装配 -->
	<context:component-scan base-package="com.srts"></context:component-scan>

	<!-- 配置SessionFactory（整合Hibernate） -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<bean class="com.mchange.v2.c3p0.ComboPooledDataSource">
				<!-- 数据库连接信息 -->
				<property name="jdbcUrl" value="${jdbcUrl}"></property>
				<property name="driverClass" value="${driverClass}"></property>
				<property name="user" value="${username}"></property>
				<property name="password" value="${password}"></property>
				<!-- 其他配置 -->
				<property name="initialPoolSize" value="30"></property>
				<property name="maxPoolSize" value="50"></property>
				<property name="minPoolSize" value="30"></property>
				<property name="acquireIncrement" value="20"></property>
				<property name="maxStatements" value="80"></property>
				<property name="maxStatementsPerConnection" value="50"></property>
				<property name="maxIdleTime" value="200"></property>
			</bean>
		</property>
		<!-- 指定映射文件所在的目录 -->
		<property name="mappingDirectoryLocations">
			<list>
				<!-- 系统 -->
				<value>classpath:com/srts/system/domain/</value>
				<!-- 学习交流-->
				<value>classpath:com/srts/communication/domain/</value>
				<!-- 个人中心 
				<value>classpath:com/srts/controlPanel/domain/</value>
				-->
				<!-- 评估中心 
				<value>classpath:com/srts/estimation/domain/</value>
				-->
				<!-- 在线考核 -->
				<value>classpath:com/srts/examination/domain/</value>
				<!-- 信息中心 -->
				<value>classpath:com/srts/information/domain/</value>
				<!-- 知识库 -->
				<value>classpath:com/srts/knowledge/domain/</value>
				<!-- 培训学习 -->
				<value>classpath:com/srts/learning/domain/</value>
			</list>
		</property>
		<!-- 指定hibernate的配置文件的位置 -->
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>

	<!-- 配置声明式事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 使用基于注解的声明式事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>